/* =================BASE================= */

/*==========BASE HTML========== */
html {
	overflow: scroll;
	overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
	height: 100%;
}

body {
    position: relative;
	background-color: rgba(245, 245, 245, 1);
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
    padding-bottom: 65px;
}

.container{
    max-width: 85%;
    margin: 0 auto;
}

/* ========BLOCKS & ELEMENTS========= */

/* ==========LOGO========== */
.header__item--logo{
    text-align: center;
    margin-right: 10vw;
    color: #000000;
    opacity: 0.85;
}

.header__item--logo--workout{
    display: block;
    width: fit-content;
    margin-right: 0vw;
}


.header__item--logo:hover{
    opacity: 1;
}

/* ====================== */



/* ==================BUTTONS================== */

/* ===Button with text(+ optional image)=== */
.button-text{
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    color: #ffffff;
    box-shadow: 2px 2px 0px 0px #00CD1E;
    transition: .1s ease-in-out;
}

.button-text img{
    transition: .1s ease-in-out;
}

.button-text:hover{
    color: #ffffff;
    background-color: #000000;
    box-shadow: 3px 3px 0px 0px #00CD1E;
}

/* =================== */

/* ===Button only image=== */

.button-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 2px 2px 0px 0px #00CD1E;
    transition: .1s ease-in-out;
}

.button-img img{
    transition: .1s ease-in-out;
}

.button-img:hover{
    background-color: #000000;
    box-shadow: 3px 3px 0px 0px #00CD1E;
}


/* ====================================== */



/* ===HEADER===*/
.main-header{
    display: flex;
    justify-content: space-between;
    align-items:end;
    padding: 0 5vw 10px;
    color: #000000;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.header__item{
    text-align: center;
    color: #000000;
    opacity: 0.85;
}

.header__item:hover{
    opacity: 1;
}

.header__item .other_img{
    transform: translateY(12px);
}



/* =========FOOTER========== */
.main_footer{
    position: absolute;
    left: 5%;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 5px 20px 5px;
    border-top: 1px solid rgba(208, 208, 208, 1);
    font-size: 16px;
}

.footer__social-media{ 
    display: flex;
    margin-bottom: 5px;
}

.footer__contact-btn{
    margin-left: 8px;
}

.footer__contact-btnt img{
    width: 25px;
    height: 25px;
}

.footer__email{
    display: flex;
}

.footer__email-btn{
    color: #292929;
    margin-left: 8px;
}

.footer__email-btn:hover{
    color: #000000;
}

.footer__about-item:first-child{
    margin-bottom: 5px;
}

/* =========================== */


/* ==========Exercise item========== */
.exercise-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 8px 30px 20px;
    background-color: #FAFAFA;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    transition: .1s ease-in-out;
    overflow: hidden;
}

.exercise-item:hover{
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    transform: translate(-2px, -2px);
}


/* Exercise info */
.exercise-item__info-btn{
    position: absolute;
    top: 2%;
    right: 3%;
    opacity: 0.8;
    transition: .1s ease-in-out;
}

.exercise-item__info-btn:hover{
    opacity: 1;
}

/* Info text  */
.exercise-item__info-content{
    position: absolute;
    z-index: 1;
    border-radius: 12px;
    border: 1px solid #e4e4e4;
    top: -101%;
    left: -1%;
    width: 101%;
    height: 101%;
    background-color: #FAFAFA;
    text-align: start;
    padding: 30px 40px;
    transition: .3s ease-in-out;
}

.exercise-item__info-text{
    font-size: 15px;
}

.exercise-item__info-close{
    position: absolute;
    top: 3%;
    right: 3%;
    opacity: 0.8;
}

.exercise-item__info-close:hover{
    opacity: 1;
}

/* Exercise muscle groups */
.exercise-item__muscle-groups{
    color: rgba(143, 143, 143, 1);
    font-size: 15px;
    word-break: break-all;
    max-width: 70%;
    margin: 0 auto 40px;
}

/* Exercise images */
.exercise-item__img{
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}

/* Exercise decoration line */
.exercise-item__line{
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: rgba(206, 206, 206, 1);
}

/* Exercise title */
.exercise-item__title{
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 600;
}

/* Exercise rating + statistic */
.exercise-item__statistic{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 15px;
}

.exercise-item__rating{
    display: flex;
    align-items: center;
}

/* rating number */
.exercise-item__score{
    font-size: 21px;
    margin-right: 3px;
}

.exercise-item__difficult{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.exercise-item__difficult-number{
    display: none;
}

.exercise-item__difficult-item{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 132, 19, 1);
    margin: 0px 1px;
}

.exercise-item__difficult-item--disabled{
    background-color: rgb(155, 194, 161);
}

/* Progres of exercise(for control workouts) */
.exercise-item__progress{
    margin-top: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.exercise-item__progress-number{
    font-size: 23px;
    font-weight: 500;
}

.exercise-item__progress-number--green{
    color: rgba(0, 132, 19, 1);
}

.exercise-item__progress-number--red{
    color: #F44336;
}

/* Count of repetitions */
.exercise-item__repetitions{
    background-color: rgba(234, 234, 234, 1);
    border: 1px solid rgb(204, 204, 204);
    width:  fit-content;
    margin: 20px auto 10px;
    padding: 5px 60px;
    border-radius: 3px;
}

.exercise-item__repetitions-title{
    font-size: 25px;
}

.exercise-item__progress .exercise-item__repetitions{
    margin: 0;
}

/* Buttons of exercise */
.exercise-item__buttons{
    display: flex;
    justify-content: space-around;
    margin-top: auto;
}

/* Exercise button 'Add' */
.exercise-item__add{
    font-size: 25px;
    padding: 5px 15px 7px 20px;
    margin-right: 15px;
}

.exercise-item__add img{
    margin-left: 8px;
    width: 20px;
    height: 20px;
}

.exercise-item__add:hover{
    box-shadow: 3px 3px 0px 0px #00CD1E;
}

.exercise-item__add:hover img{
    -webkit-animation: rotate-center 0.3s ease-in-out both;
	animation: rotate-center 0.3s ease-in-out both;
}

/* Exercise button 'Favorite' */
.exercise-item__favorite{
    background-color: transparent;
    box-shadow: none;
}

.exercise-item__favorite:hover{
    opacity: 1;
    background-color: transparent;
    box-shadow: none;
}

/* Exercise button 'delite' */
.exercise-item__delite{
    font-size: 25px;
    padding: 5px 15px 7px 20px;
    margin-right: 15px;
}

.exercise-item__delite img{
    margin-left: 8px;
    width: 20px;
    height: 20px;
}

.exercise-item__delite:hover img{
    animation: none;
    -webkit-animation: none;
}



/* ===ADD EXERCISE ITEM=== */
/* Photo of exercise */
.exercise-item--add__img{
    font-size: 23px;
    padding: 40px 20px;
    margin-bottom: 10px;
    transition: .2s ease;
}

.exercise-item--add__img:hover{
    background-color: #eeeded;
}

/* Muscle groups */
.exercise-item--add__muscle-groups{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Button to add muscle groups */
.exercise-item--add__muscle-groups-btn{
    margin-left: 10px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #d3d3d3;
}

.exercise-item--add__muscle-groups-btn img{
    width: 18px;
    height: 18px;
}

.exercise-item--add__muscle-groups-btn:hover img{
    -webkit-animation: rotate-center 0.3s ease-in-out both;
	animation: rotate-center 0.3s ease-in-out both;
}

/* Name of exercise */
.exercise-item--add__name{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 17px;
}

.exercise-item--add__name-text{
    margin-left: 10px;
    padding: 3px 7px;
    background-color: rgba(237, 237, 237, 1);
    border: 1px solid rgb(223, 223, 223);
}

/* Info about exercise */
.exercise-item--add__info{
    margin-top: 10px;
}

.exercise-item--add__info-title{
    float: left;
}

.exercise-item--add__info-textarea{
    width: 100%;
    min-height: 70px;
    padding: 3px 7px;
    background-color: rgba(237, 237, 237, 1);
    border: 1px solid rgb(223, 223, 223);
}

/* Button 'Add' exercise */
.exercise-item--add__btn{
    margin: 20px auto 0px;
}

.exercise-item--add__btn img{
    margin-left: 8px;
    width: 20px;
    height: 20px;
    transition: .1s ease-in-out;
}

.exercise-item--add__btn:hover img{
    -webkit-animation: rotate-center 0.3s ease-in-out both;
	animation: rotate-center 0.3s ease-in-out both;
}

/* ============================================= */

/* workout-slide(no arrows) */
.workouts-card{
    height: 100%;
    padding: 15px 20px 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 0px 0px #9A9A9A;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
}

.workouts-card__no-program{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 0px 0px #9A9A9A;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
}

.workouts-card__no-program-title{
    font-size: 30px;
    padding: 10px 40px;
    background-color: rgb(238, 238, 238);
    border: 1px solid #dfdede;
    color: #000000;
    box-shadow: 0px 3px 0px 0px #00CD1E;
}

/* Title and button to add to favorite collection */
.workouts-card__header{
    display: flex;
    justify-content: space-between;
    color: rgba(130, 130, 130, 1);
}

.workouts-card__date{
    font-size: 25px;
}

.workouts-card__favorite-btn{
    height: fit-content;
    opacity: 0.7;
}

.workouts-card__favorite-btn:hover{
    opacity: 1;
}

/* Content of workout */
.workouts-card__content{
    display: flex;
    justify-content: space-between;
}

/* Exercises array */
.workouts-card__exercises-cover{
    max-height: 65vh;
    overflow: auto;
    width: 50%;
    margin-top: 15px;
}


/* ===Info about day workout===*/
.workouts-card__info{
    width: 45%;
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Workout title */
.day-workouts__card-name{
    font-size: 21px;
    font-weight: 600;
}

.day-workouts__card .workouts-card__info{
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
}

.workouts-card__muscle-groups{
    width: 100%;
    padding: 0px 20px;
}

/* Decorative line */
.workouts-card__info-line{
    height: 1px;
    width: 90%;
    margin: 10px auto 15px; 
    background: #CECECE;
}

.workouts-card__repeats-info{
    width: 100%;
    padding: 0px 20px;
}

.workouts-card__repeats-info-item{
    display: flex;
}

/* Buttons edit and start */
.workouts-card__buttons{
    display: flex;
    margin-top: auto;
}

.workouts-card__edit-button,
.workouts-card__start-button{
    font-size: 27px;
    padding: 5px 30px 5px;
    margin-right: 15px;
}

.workouts-card__edit-button img{
    width: 30px;
    height: 30px;
}

.workouts-card--day-off{
    display: flex;
    align-items: center;
    justify-content: center;
}

.workouts-card__day-off{
    font-size: 35px;
    padding: 10px 40px;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #00C91D;
}

/* ======================================== */

/* ==============Friends list============== */
.friends-block{
    padding: 8px 15px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 0px 0px #9A9A9A;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
}

.friends-block--program{
    min-width: 24%;
}

/* Title and button to search friends */
.friends-block__header{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(130, 130, 130, 1);
}

.friends-block__header-title{
    font-size: 20px;
}

.friends-block__header-button img{
    width: 35px;
    height: 35px;
    opacity: 0.8;
}

.friends-block__header-button img:hover{
    opacity: 1;
}



.friends-block__cover{
    display: flex;
    align-items: center;
    margin: 20px 10px 10px 10px;
    max-height: 35vh;
}

/* slide */
.friends-block__slide{
    position: relative;
    display: flex;
    padding: 0px 30px;
}

/* friend item */
.friends-block__item{
    text-align: center;
    margin: 0px 20px;
}

.friends-block__name{
    font-size: 20px;
    color: #000000;
}


.friends-block__no-friends{
    margin: 10px auto 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
    font-weight: 500;
}


/* For program page */
.friends-block__cover--program{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
}

.friends-block__cover--program .friends-block__item{
    width: 9vw;
    margin-top: 10px;
}


/* ==================================== */

/* ===========last trainings=========== */
.last-trainings{
    max-height: 43vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 45px 10px 10px 10px;
    margin: 20px 15px 15px 0px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 0px 0px #9A9A9A;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
}

/* Title */
.last-trainings__title{
    position: absolute;
    top: 2%;
    left: 2%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: rgba(130, 130, 130, 1);
}

/* Trainings content */
.last-trainings__content{
    position: relative;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Trainings content item */
.last-trainings__card{
    display: flex;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* Left part of last exercise item */
.last-trainings__card-left{
    margin-right: 50px;
}

/* Minutes & exercise & muscle groups & info button */
.last-trainings__item{
    display: flex;
    font-size: 21px;
    margin-bottom: 5px;
}

.last-trainings__item-text span{
    font-weight: 700;
}

.last-trainings__item-img{
    margin-right: 5px;
}

/* For control workouts */
.last-trainings__item-text--green{
    color: rgba(0, 132, 19, 1);
}

.last-trainings__item-text--red{
    color: #F44336;
}

/* Button 'Подробнее' for more info about exercise */
.last-trainings__item-button{
    box-shadow: none;
    font-size: 20px;
    padding: 3px 7px 3px 10px;
}

.last-trainings__item-button:hover{
    box-shadow: none;
}

.last-trainings__item-button img{
    margin-left: 10px;
}


.last-trainings__no-workout{
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
    font-weight: 500;
}

/* ======================================= */

/* ==========WORKOUT DAYS LIST============ */
/* Choose date of workouts */
.day-workouts__date{
    display: flex;
    float: right;
    align-items: center;
    margin-bottom: 20px;
}

.day-workouts__date-title{
    font-size: 25px;
}

.day-workouts__date-input{
    margin-left: 10px;
    font-size: 25px;
    background-color: #ffffff;
    padding: 5px 10px;
    border: 1px solid rgba(198, 198, 198, 1);
}

/* Swiper of day workouts */
.day-workouts__swiper{
    display: flex;
    align-items: center;
    width: 100%;
}

/* slide */
.day-workouts__slide{
    display: flex;
    justify-content: space-around;
    padding: 0 40px 10px;
}

/* Day of week */
.day-workouts__card-title{
    font-size: 18px;
    color: #828282;
}

/* Content of day workout */
.day-workouts__card-content{
    display: table-cell;
    vertical-align:middle;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: 1px solid #C6C6C6;
}

/* Muscle groups */
.workouts-card__item{
    font-size: 21px;
    margin-bottom: 10px;
}

.workouts-card__item span{
    font-size: 22px;
    background-color: rgba(236, 236, 236, 1);
    padding: 1px 7px;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.25);
    float: right;
    margin-left: 10px;
}

/* Buttons edit, more and image(complete or not) */
.day-workouts__card-buttons{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.day-workouts__card-button{
    font-size: 20px;
    padding: 5px 15px;
    margin-right: 15px;
}

.day-workouts__card-button--add:hover img,
.day-workouts__card-button--favorite:hover img{
    -webkit-animation: rotate-center 0.3s ease-in-out both;
	animation: rotate-center 0.3s ease-in-out both;
}

.day-workouts__card-button--favorite{
    margin-top: 10px;
}

.day-workouts__card-button p{
    margin-right: 15px;
}

.day-workouts__card-button img{
    width: 25px;
    height: 25px;
}

.day-workouts__card-img{
    width: 30px;
    height: 30px;
    margin: auto 0;
}

/* Title 'Выходной' */
.day-workouts__card-day-off{
    display: flex;
    margin-top: auto;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 2px 2px 0px 0px #00CD1E;
    font-size: 21px;
    padding: 5px 10px;
}


/* ======================================= */

/* =========POPUP EXERCISE WINDOW========= */
.popup-exercise{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.644);
}

.popup-exercise.open{
    visibility: visible;
}

/* Popup exercise content */
.popup-exercise__content{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 30px 70px;
}

.popup-exercise__close-button{
    position: absolute;
    right: 0.5%;
    top: 1%;
    width: 50px;
    height: 50px;
}

.popup-exercise__info{
    margin-left: 50px;
}

.popup-exercise__info-item{
    margin-bottom: 20px;
}

.popup-exercise__info-label{
    font-size: 25px;
    margin-right: 20px;
}

.popup-exercise__info-input{
    background-color: rgba(236, 236, 236, 1);
    border: 1px solid #7D7D7D;
    padding: 3px 5px;
    font-size: 25px;
   float: right;
}

.popup-exercise__add-button{
    width: fit-content;
    margin: 50px auto 0px;
    padding: 5px 15px 5px 25px;
}

.popup-exercise__add-button p{
    font-size: 28px;
    margin-right: 20px;
}

.popup-exercise__add-button img{
    width: 25px;
    height: 25px;
    margin-left: auto;
}

.popup-exercise__add-button:hover img{
    -webkit-animation: rotate-center 0.3s ease-in-out both;
	animation: rotate-center 0.3s ease-in-out both;
}

.popup-exercise__submit-button{
    font-size: 25px;
    padding: 10px 40px;
}

/* ======================================================== */

/* ======================USER CARD========================= */
.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 30px 20px;
    margin: 0 auto;
    background-color: #FAFAFA;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
}

.user-card__name{
    font-size: 27px;
    font-weight: 500;
}

.user-card__button{
    margin-top: 15px;
    padding: 7px 20px;
    font-size: 25px;
}

.user-card__button--reject{
    margin-top: 7px;
}

.user-card__button--except{
    margin-top: 20px;
}

.user-card__button p{
    margin-right: 10px;
}

.user-card__button img{
    width: 25px;
    height: 25px;
}

.user-card__button--add:hover img{
    -webkit-animation: rotate-center 0.3s ease-in-out both;
	animation: rotate-center 0.3s ease-in-out both;
}