<footer class="main_footer">
	<!-- Contacts -->
	<div class="footer__contacts">
		<div class="footer__social-media">
			<p class="footer__contacts-title">Контакты:</p>
			<a class="footer__contact-btn" href="https://t.me/Xcvbnmzd"><img src="../img/tg.svg" alt=""></a>
			<a class="footer__contact-btn" href="https://vk.com/id497007918"><img src="../img/vk.svg" alt=""></a>
		</div>
		<div class="footer__email">
			<p class="footer__email-title">Email:</p>
			<a class="footer__email-btn" href="mailto:ivanbarbash06@gmail.com?subject=Вопрос по сайту">ivanbarbash06@gmail.com</a>
		</div>
	</div>
	<!-- About -->
	<div class="footer__about">
		<p class="footer__about-item">Все права защищены &#169;</p> 
		<p class="footer__about-item">Иван Барбашин</p>
	</div>
</footer>