<section class="exercise-item exercise-item--workout">
    <!-- Exercise info button -->
    <button type="button"  class="exercise-item__info-btn"><img src="../img/info.svg" alt=""></button>
    <!-- Info text -->
    <div class="exercise-item__info-content">
        <button type="button" class="exercise-item__info-close"><img src="../img/close.svg" alt=""></button>
        <p class="exercise-item__info-text">{{ description }}</p>
    </div>
    <!-- Exercise muscle groups -->
    <div class="exercise-item__muscle-groups">{{ muscle }}</div>
    <!-- Exercise image -->
    <img class="exercise-item__img" src="{{ image }}" alt="">
    <!-- Decoration line -->
    <div class="exercise-item__line"></div>
    <!-- Exercise title -->
    <h1 class="exercise-item__title">{{ name }}</h1>
    <!-- Rating and difficult -->
    <div class="exercise-item__statistic">
        <div class="exercise-item__rating">
            <p class="exercise-item__score">{{ rating }}</p>
            <img class="exercise-item__star" src="../img/Star.svg" alt="">
        </div>
        <div class="exercise-item__difficult">
            <p class="exercise-item__difficult-number">{{ difficulty }}</p>
            <div class="exercise-item__difficult-item"></div>
        </div>
    </div>
    <!-- Count of repetitions -->
    <div class="exercise-item__repetitions">
        <p class="exercise-item__repetitions-title">{{ reps }} x <span>{{ approaches }}</span></p>
    </div>
    {{ button_done }}
</section>