<!-- Item -->
<section class="last-trainings__card">
  <!-- Left part of last exercise item -->
  <div class="last-trainings__card-left">
    <!-- Time of training -->
    <div class="last-trainings__item">
      <img class="last-trainings__item-img" src="../img/time_black.svg" alt="">
      <p class="last-trainings__item-text"><span>{{ minutes }}</span> мин</p>
    </div>
    <!-- Exercise count of training -->
    <div class="last-trainings__item">
      <img class="last-trainings__item-img" src="../img/cards_black.svg" alt="">
      <p class="last-trainings__item-text"><span>{{ exercise_amount }}</span> упражнений</p>
    </div>
  </div>
  <!-- Right part of last exercise item -->
  <div class="last-trainings__card-right">
    <!-- Muscle groups count of training -->
    <div class="last-trainings__item">
      <img class="last-trainings__item-img" src="../img/cards_black.svg" alt="">
      <p class="last-trainings__item-text"><span>{{ muscle_group_amount }}</span> группы мышц</p>
    </div>
    <!-- Button 'Подробнее' for more info about exercise -->
    <div class="last-trainings__item">
      <p class="last-trainings__item-text">Дата: <span>{{ date }}</span></p>
    </div>
  </div>
</section>